@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .slick-prev, .slick-next {
        width:auto;
        height:auto;
        background:#eee;
        padding: 10px;
        z-index: 40;
    }
    .slick-prev:hover .slick-prev:focus, .slick-next:hover, .slick-next:focus {
        color: #000;
        opacity: 0.8;
        background: #eee;
    }
    .slick-next {
        margin-left: 8px;
    }
    .slick-prev {
        margin-right: 8px;
    }
}